<mat-card class="container">
  <mat-card-title>Sign up</mat-card-title>
  <form [formGroup]="signup_form" (ngSubmit)="signup()">
    <mat-card-content> 
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required />
        <mat-error>
          <mat-icon>error</mat-icon>{{ errors['fn'] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required />
        <mat-error>
          <mat-icon>error</mat-icon>{{ errors['ln'] }}
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="abc@xyz.com" formControlName="email" required />
        <mat-error>
          <mat-icon>error</mat-icon>{{ errors['email'] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide_pass ? 'password' : 'text'" formControlName="password" required/>
        <button mat-icon-button matSuffix (click)="hide_pass = !hide_pass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_pass" type="button" >
          <mat-icon>{{ hide_pass ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>
          <mat-icon>error</mat-icon>{{ errors['pass'] }}
        </mat-error>
      </mat-form-field>
        
      <mat-form-field appearance="fill">
        <mat-label>Confirm</mat-label>
        <input matInput [type]="hide_confirm ? 'password' : 'text'" formControlName="confirm_pass" />
        <button mat-icon-button matSuffix (click)="hide_confirm = !hide_confirm" [attr.aria-label]="'Hide confirm password'" [attr.aria-pressed]="hide_confirm" type="button" >
          <mat-icon>{{ hide_confirm ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>
          <mat-icon>error</mat-icon>{{ errors['confirm_pass'] }}
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button class="signup-btn" mat-stroked-button color="primary" type="submit">Sign up</button>
    </mat-card-actions>
  </form>
</mat-card>
  