.container {
    margin: 100px auto;
    width: 300px;
    text-align: center;
    form {
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
      .mat-form-field {
        width: 250px;
      }
      .signup-btn {
        width: 250px;
        font-size: 20px;
        &:hover {
          background-color: #683ab710;
        }
      }
      .errors {
        text-align: left;
        font-size: 14px;
        .mat-error {
          margin-left: 15px;
        }
        .mat-icon {
          vertical-align: middle;
          font-size: 20px;
        }
      }
    }
  }
  